{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- CSS -->   
    <link rel="stylesheet" href="{% static 'autosapp/css/styles.css' %}">
    
</head>
<body>

<!-- Navbar Mobile -->
<nav class="navbar d-lg-none navbar-light bg-light mobile-nav-bar pr-0 pl-0 mx-0 mb-0 pb-0">
    <!-- Logo -->
    <a class="navbar-brand ml-3">
        <img src="../../media/autosapp/images/Logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="display: block !important; border: none;">
        <i class="fa fa-bars" style="color:black;font-size:21px;"></i>
    </button>

    <!-- Mobile Menu -->

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-3" style="text-align: right;">
            <button class="btn btn-link navbar-btn ml-auto" data-toggle="collapse" data-target=".navbar-collapse" style="color: black; font-size: 14px;">
                Cerrar <i class="fa fa-times" style="color: black;font-size:21px;"></i>
            </button>
        </ul>
        <ul class="navbar-nav mx-5" style="text-align: right;">
            <li class="nav-item mt-3">
                <a class="nav-link" href="{% url 'home_modelos' %}">Modelos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Servicios y Accesorios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Financiación</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link" href="#">Reviews y Comunidad</a>
            </li>
        </ul>
        <hr class="line-divider-nav">
        <ul class="navbar-nav mx-5" style="text-align: right;">
            <li class="nav-item mt-3">
                <a class="nav-link" href="#">Toyota Mobility Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Toyota Gazoo Racing</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link" href="#">Toyota Híbridos</a>
            </li>
        </ul>
        <hr class="line-divider-nav" style="text-align: right;">
        <ul class="navbar-nav mx-5" style="text-align: right;">
            <li class="nav-item mt-3">
                <a class="nav-link" href="#">Concesionarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Test Drive</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        <div class="submenu" style="text-align: right;">
            <ul class="list-unstyled mr-5 ml-5 mb-0">
                <li class="nav-item pt-3">
                    <a class="nav-link" style="padding-right: 0!important;padding-left: 0!important;" href="#">Actividades</a>
                </li>
                <li class="nav-item px-0">
                    <a class="nav-link" style="padding-right: 0!important;padding-left: 0!important;" href="#">Servicios al Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-right: 0!important;padding-left: 0!important;" href="#">Ventas Especiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-right: 0!important;padding-left: 0!important;" href="#">Innovación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-right: 0!important;padding-left: 0!important;" href="#">Prensa</a>
                </li>
                <li class="nav-item pb-5">
                    <a class="nav-link" style="padding-right: 0!important;padding-left: 0!important;" href="#">Acerca de...</a>
                </li>
            </ul>
        </div>
    </div>
    
    
    
    
</nav>

<!-- Navbar Web -->

<nav class="navbar navbar-expand-lg navbar-light bg-light web-nav-bar">
    <a class="navbar-brand mr-5 ml-4" href="#">
        <img src="../../media/autosapp/images/Logo.png" alt="Logo">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link mr-4 ml-4 mt-3 mb-3 custom-nav-link {% if active_link == 'modelos' %}active{% endif %}" href="{% url 'home_modelos' %}" id="modelos-link"><strong>Modelos</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-4 ml-4 mt-3 mb-3 custom-nav-link {% if active_link == 'ficha' %}active{% endif %}" href="{% url 'ficha_modelo' pk=1 %}" id="ficha-link"><strong>Ficha de Modelo</strong></a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavWeb" aria-controls="navbarNavWeb" aria-expanded="false" aria-label="Toggle navigation" style="display: block !important; border: none;">
        <i class="fa fa-bars" style="color:black;"></i>
    </button>
    <div class="collapse navbar-collapse2" id="navbarNavWeb">
        <div class="overlay"></div> <!-- Overlay to cover the content -->
        <ul class="navbar-nav mx-2" style="text-align: right;">
            <button class="btn btn-link navbar-btn ml-auto" data-toggle="collapse" data-target=".navbar-collapse2" style="color: black; font-size: 14px;">
                Cerrar <i class="fa fa-times" style="color: black; font-size: 21px;"></i>
            </button>
        </ul>
        <ul class="navbar-nav mx-5" style="text-align: right;flex-direction: column;">
            <li class="nav-item-web mt-3">
                <a class="nav-link pb-0" href="{% url 'home_modelos' %}">Modelos</a>
            </li>
            <li class="nav-item-web">
                <a class="nav-link pb-0" href="#">Servicios y Accesorios</a>
            </li>
            <li class="nav-item-web">
                <a class="nav-link pb-0" href="#">Financiación</a>
            </li>
            <li class="nav-item-web mb-3">
                <a class="nav-link pb-0" href="#">Reviews y Comunidad</a>
            </li>
        </ul>
        <hr class="line-divider-nav">
        <ul class="navbar-nav mx-5" style="text-align: right;flex-direction: column;">
            <li class="nav-item-web mt-3">
                <a class="nav-link pb-0" href="#">Toyota Mobility Service</a>
            </li>
            <li class="nav-item-web">
                <a class="nav-link pb-0" href="#">Toyota Gazoo Racing</a>
            </li>
            <li class="nav-item-web mb-3">
                <a class="nav-link pb-0" href="#">Toyota Híbridos</a>
            </li>
        </ul>
        <hr class="line-divider-nav" style="text-align: right;">
        <ul class="navbar-nav mx-5" style="text-align: right;flex-direction: column;">
            <li class="nav-item-web mt-3">
                <a class="nav-link pb-0" href="#">Concesionarios</a>
            </li>
            <li class="nav-item-web">
                <a class="nav-link pb-0" href="#">Test Drive</a>
            </li>
            <li class="nav-item-web mb-3">
                <a class="nav-link pb-0" href="#">Contacto</a>
            </li>
        </ul>
        <div class="submenu" style="text-align: right;flex-direction: column;">
            <ul class="list-unstyled mr-5 ml-5 mb-0">
                <li class="nav-item-web pt-3">
                    <a class="nav-link pb-0" style="padding-right: 0!important;padding-left: 0!important;" href="#">Actividades</a>
                </li>
                <li class="nav-item-web px-0">
                    <a class="nav-link pb-0" style="padding-right: 0!important;padding-left: 0!important;" href="#">Servicios al Cliente</a>
                </li>
                <li class="nav-item-web">
                    <a class="nav-link pb-0" style="padding-right: 0!important;padding-left: 0!important;" href="#">Ventas Especiales</a>
                </li>
                <li class="nav-item-web">
                    <a class="nav-link pb-0" style="padding-right: 0!important;padding-left: 0!important;" href="#">Innovación</a>
                </li>
                <li class="nav-item-web">
                    <a class="nav-link pb-0" style="padding-right: 0!important;padding-left: 0!important;" href="#">Prensa</a>
                </li>
                <li class="nav-item-web pb-5">
                    <a class="nav-link pb-0" style="padding-right: 0!important;padding-left: 0!important;" href="#">Acerca de...</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
     
<div class="main-container">
  
    {% block content %}{% endblock %}
</div>
<footer class="bg-dark text-light text-center py-3" style= "background-color:black!important;"></footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="{% static 'autosapp/js/scripts.js' %}"></script>

</body>

</html>



