{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- CSS -->   
    <link rel="stylesheet" href="{% static 'autosapp/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<!-- Navbar for Mobile -->
<nav class="navbar d-lg-none navbar-light bg-light mobile-nav-bar">
    <!-- Logo on the left side -->
    <a class="navbar-brand">
        <img src="../../media/autosapp/images/Logo.png" alt="Logo">
    </a>

    <!-- Hamburger Menu Button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="display: block !important; border: none;">
        <i class="fa fa-bars" style="color:black;"></i>
    </button>

    <!-- Mobile Navigation Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Modelos Button -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home_modelos' %}">Modelos</a>
            </li>

            <!-- Ficha de Modelo Button -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ficha_modelo' pk=1 %}">Ficha de Modelo</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Navbar for Web -->
<nav class="navbar navbar-expand-lg navbar-light bg-light web-nav-bar">
    <!-- Logo on the left side -->
    <a class="navbar-brand mr-5 ml-4" href="#">
        <img src="../../media/autosapp/images/Logo.png" alt="Logo">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link mr-4 ml-4 mt-3 mb-3 custom-nav-link {% if active_link == 'modelos' %}active{% endif %}" href="{% url 'home_modelos' %}" id="modelos-link"><strong>Modelos</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-4 ml-4 mt-3 mb-3 custom-nav-link {% if active_link == 'ficha' %}active{% endif %}" href="{% url 'ficha_modelo' pk=1 %}" id="ficha-link"><strong>Ficha de Modelo</strong></a>
        </li>
    </ul>

    <!-- Title next to the hamburger menu -->
    <span class="navbar-text ml-2">Menú</span>
    <!-- Hamburger Menu Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavWeb" aria-controls="navbarNavWeb" aria-expanded="false" aria-label="Toggle navigation" style="display: block !important; border: none;" >
        <i class="fa fa-bars" style="color:black;"></i>
    </button>
</nav>

    
<div class="main-container">
  
        {% block content %}{% endblock %}
</div>
<footer class="bg-dark text-light text-center py-3" style= "background-color:black!important;">
  </footer
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




</body>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ordenDropdown = document.getElementById('ordenDropdown');
        var ordenIcon = document.getElementById('ordenIcon');

        ordenDropdown.addEventListener('click', function (e) {
            if(ordenIcon.classList.contains('fa-angle-down')){
                ordenIcon.classList.remove('fa-angle-down');
                ordenIcon.classList.add('fa-angle-up');
            }else{
                ordenIcon.classList.remove('fa-angle-up');
                ordenIcon.classList.add('fa-angle-down');
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var ordenDropdown = document.getElementById('ordenDropdown2');
        var ordenIcon = document.getElementById('ordenIcon2');

        ordenDropdown.addEventListener('click', function (e) {
            if(ordenIcon.classList.contains('fa-angle-down')){
                ordenIcon.classList.remove('fa-angle-down');
                ordenIcon.classList.add('fa-angle-up');
            }else{
                ordenIcon.classList.remove('fa-angle-up');
                ordenIcon.classList.add('fa-angle-down');
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var ordenDropdown = document.getElementById('ordenDropdown3');
        var ordenIcon = document.getElementById('ordenIcon3');
        console.log(ordenDropdown)
        console.log(ordenIcon)

        ordenDropdown.addEventListener('click', function (e) {
            console.log('sdfasdf',e.target)
            if(ordenIcon.classList.contains('fa-angle-down')){
                ordenIcon.classList.remove('fa-angle-down');
                ordenIcon.classList.add('fa-angle-up');
            }else{
                ordenIcon.classList.remove('fa-angle-up');
                ordenIcon.classList.add('fa-angle-down');
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const customOptions = document.querySelectorAll('.custom-options .dropdown-item');

        customOptions.forEach(function (option) {
            option.addEventListener('click', function (event) {
                event.preventDefault();
                const selectedValue = this.getAttribute('data-value');
                document.getElementById('selected_order').value = selectedValue;
                document.getElementById('filterForm').submit();
            });
        });
    });
    

  </script>
</html>



